<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fivehoursatdoritos.jackscratch08.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0"
            
    <!-- versionCode is optional and Android only -->

    <name>Five Hours at Doritos</name>

    <description>
        Can you survive? Five Hours at Doritos is a game where you shoot packets of Dorito's™ at Mountain Dew™ bottles. Miss and they'll attack you and you will lose! You win at 6PM!
    </description>

    <author href="http://scratch.mit.edu/users/JackScratch08" email="juniorshortstory@gmail.com">
        JackScratch08
    </author>

</widget>
